.column>h3 {
    padding: 5px;
	font-size: 1.6em;
	text-align: center;
	margin: 5px 0 10px 0;
	color: var(--font-dark);
	font-weight: 500;
}

.item:nth-child(even) {
	background-color: #6f8c43; /* var(--secondary) */
}

.item:nth-child(odd) {
	background-color: #4A4D26; /* var(--tertiary) */
}

.item.dragging {
	background-color: #AAD76C; /* var(--primary) */
	color: #4A4D26; /* var(--font-dark) */
}